In [3]:
import sqlite3
import pandas as pd

In [7]:
# Знайдіть назву всіх фільмів

sql = """ SELECT Title
          FROM Movies """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story',)
("A Bug's Life",)
('Toy Story 2',)
('Monsters, Inc.',)
('Finding Nemo',)
('The Incredibles',)
('Cars 1',)
('Ratatouille',)
('WALL-E',)
('Up',)
('Toy Story 3',)
('Cars 2',)
('Brave',)
('Monsters University',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)

In [11]:
#Знайдіть директора та рік кожного фільму

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Director, Year
          FROM Movies """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story', 'John Lasseter', 1995)
("A Bug's Life", 'John Lasseter', 1998)
('Toy Story 2', 'John Lasseter', 1999)
('Monsters, Inc.', 'Pete Docter', 2001)
('Finding Nemo', 'Andrew Stanton', 2003)
('The Incredibles', 'Brad Bird', 2004)
('Cars 1', 'John Lasseter', 2006)
('Ratatouille', 'Brad Bird', 2007)
('WALL-E', 'Andrew Stanton', 2008)
('Up', 'Pete Docter', 2009)
('Toy Story 3', 'Lee Unkrich', 2010)
('Cars 2', 'John Lasseter', 2011)
('Brave', 'Brenda Chapman', 2012)
('Monsters University', 'Dan Scanlon', 2013)
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 2001)
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 2001)
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson', 2001)

In [12]:
#Знайдіть інформацію по кожному з фільмів

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Director, Rating, Year, Length_minutes, (Domestic_sales + International_sales) AS Sales 
          FROM Movies 
          INNER JOIN Boxoffice
          ON Movies.Id = Boxoffice.Movie_Id"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print('\nНазва фільму:',i[0], 'Режисер:',i[1], 'Рейтинг:',i[2], 'Рік випуску:',i[3], 'Тривалість фільму:',i[4], 'Сума продажів:',i[5])

conn.close()

Назва фільму: Toy Story Режисер: John Lasseter Рейтинг: 8.3 Рік випуску: 1995 Тривалість фільму: 81 Сума продажів: 361958736

Назва фільму: A Bug's Life Режисер: John Lasseter Рейтинг: 7.2 Рік випуску: 1998 Тривалість фільму: 95 Сума продажів: 363398565

Назва фільму: Toy Story 2 Режисер: John Lasseter Рейтинг: 7.9 Рік випуску: 1999 Тривалість фільму: 93 Сума продажів: 485015179

Назва фільму: Monsters, Inc. Режисер: Pete Docter Рейтинг: 8.1 Рік випуску: 2001 Тривалість фільму: 92 Сума продажів: 562816256

Назва фільму: Finding Nemo Режисер: Andrew Stanton Рейтинг: 8.2 Рік випуску: 2003 Тривалість фільму: 107 Сума продажів: 936743261

Назва фільму: The Incredibles Режисер: Brad Bird Рейтинг: 8.0 Рік випуску: 2004 Тривалість фільму: 116 Сума продажів: 631442092

Назва фільму: Cars 1 Режисер: John Lasseter Рейтинг: 7.2 Рік випуску: 2006 Тривалість фільму: 117 Сума продажів: 461983149

Назва фільму: Ratatouille Режисер: Brad Bird Рейтинг: 8.0 Рік випуску: 2007 Тривалість фільму: 115 Сума продажів: 623722818

Назва фільму: WALL-E Режисер: Andrew Stanton Рейтинг: 8.5 Рік випуску: 2008 Тривалість фільму: 104 Сума продажів: 521311860

Назва фільму: Up Режисер: Pete Docter Рейтинг: 8.3 Рік випуску: 2009 Тривалість фільму: 101 Сума продажів: 731342744

Назва фільму: Toy Story 3 Режисер: Lee Unkrich Рейтинг: 8.4 Рік випуску: 2010 Тривалість фільму: 103 Сума продажів: 1063171911

Назва фільму: Cars 2 Режисер: John Lasseter Рейтинг: 6.4 Рік випуску: 2011 Тривалість фільму: 120 Сума продажів: 559852396

Назва фільму: Brave Режисер: Brenda Chapman Рейтинг: 7.2 Рік випуску: 2012 Тривалість фільму: 102 Сума продажів: 538983207

Назва фільму: Monsters University Режисер: Dan Scanlon Рейтинг: 7.4 Рік випуску: 2013 Тривалість фільму: 110 Сума продажів: 743559607

In [13]:
#Знайдіть фільми Id яких дорівнює 6

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Id = 6"""

cursor.execute(sql)

print(cursor.fetchall())

conn.close()

[('The Incredibles',)]

In [14]:
#Знайдіть фільми, що вийшли з 2000 по 2010 рік


conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Year BETWEEN 2000 AND 2010"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Monsters, Inc.',)
('Finding Nemo',)
('The Incredibles',)
('Cars 1',)
('Ratatouille',)
('WALL-E',)
('Up',)
('Toy Story 3',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)

In [15]:
#Знайдіть фільми, які були випущені у 2006, 2088, 2010 роках.

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Year IN (2006, 2008, 2010)"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Cars 1',)
('WALL-E',)
('Toy Story 3',)

In [16]:
#Знайдіть фільми та їх директорів, випущені до 2010 року (з використанням NOT)

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Director
          FROM Movies 
          WHERE Year NOT BETWEEN 2011 AND 2023"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story', 'John Lasseter')
("A Bug's Life", 'John Lasseter')
('Toy Story 2', 'John Lasseter')
('Monsters, Inc.', 'Pete Docter')
('Finding Nemo', 'Andrew Stanton')
('The Incredibles', 'Brad Bird')
('Cars 1', 'John Lasseter')
('Ratatouille', 'Brad Bird')
('WALL-E', 'Andrew Stanton')
('Up', 'Pete Docter')
('Toy Story 3', 'Lee Unkrich')
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson')
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson')
('The Lord of the Rings: The Fellowship of the Ring', 'Peter Jackson')

In [17]:
#Знайдіть всі фільми Toy Story

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Title LIKE 'Toy Story%' """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story',)
('Toy Story 2',)
('Toy Story 3',)

In [18]:
#Знайдіть 2 фільми Toy Story іншим способом

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Title LIKE 'Toy Story _' """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story 2',)
('Toy Story 3',)

In [19]:
#Знайдіть всі фільми, що були зняті Джоном Лассатером

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Director = 'John Lasseter' """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story',)
("A Bug's Life",)
('Toy Story 2',)
('Cars 1',)
('Cars 2',)

In [20]:
#Знайдіть всі фільми, що НЕ були зняті Джоном Лассетером

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Director != 'John Lasseter' """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Monsters, Inc.',)
('Finding Nemo',)
('The Incredibles',)
('Ratatouille',)
('WALL-E',)
('Up',)
('Toy Story 3',)
('Brave',)
('Monsters University',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)
('The Lord of the Rings: The Fellowship of the Ring',)

In [21]:
#Знайдіть всі фільми WALL-*

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          WHERE Title LIKE 'WALL-%' """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('WALL-E',)

In [22]:
# Виведіть перелік режисерів(без дублювання) в алфавітному порядку

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT DISTINCT Director
          FROM Movies 
          ORDER BY Director ASC """

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Andrew Stanton',)
('Brad Bird',)
('Brenda Chapman',)
('Dan Scanlon',)
('John Lasseter',)
('Lee Unkrich',)
('Pete Docter',)
('Peter Jackson',)

In [23]:
# Перелік з 4 фільмів новійших фільмів

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          ORDER BY Year DESC
          LIMIT 4"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Monsters University',)
('Brave',)
('Cars 2',)
('Toy Story 3',)

In [24]:
#Перелік з 5 фільмів, відсортованих за алфавітом

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title
          FROM Movies 
          ORDER BY Title ASC
          LIMIT 5"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

("A Bug's Life",)
('Brave',)
('Cars 1',)
('Cars 2',)
('Finding Nemo',)

In [25]:
#Перелік з наступних 5 фільмів, відсортованих за алфавітом

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT DISTINCT Title
          FROM Movies 
          ORDER BY Title ASC
          LIMIT 5 OFFSET 9"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('The Lord of the Rings: The Fellowship of the Ring',)
('Toy Story',)
('Toy Story 2',)
('Toy Story 3',)
('Up',)

In [26]:
#Для таблиць Movies та Boxoffice, об’єднаних через INNER JOIN:

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Domestic_sales, International_sales
          FROM Movies 
          INNER JOIN Boxoffice
          ON Movies.Id = Boxoffice.Movie_Id"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Toy Story', 191796233, 170162503)
("A Bug's Life", 162798565, 200600000)
('Toy Story 2', 245852179, 239163000)
('Monsters, Inc.', 289916256, 272900000)
('Finding Nemo', 380843261, 555900000)
('The Incredibles', 261441092, 370001000)
('Cars 1', 244082982, 217900167)
('Ratatouille', 206445654, 417277164)
('WALL-E', 223808164, 297503696)
('Up', 293004164, 438338580)
('Toy Story 3', 415004880, 648167031)
('Cars 2', 191452396, 368400000)
('Brave', 237283207, 301700000)
('Monsters University', 268492764, 475066843)

In [27]:
# Знайдіть внутрішні та міжнародні продажі для кожного фільму

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Rating
          FROM Movies 
          INNER JOIN Boxoffice
          ON Movies.Id = Boxoffice.Movie_Id
          ORDER BY Rating DESC"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('WALL-E', 8.5)
('Toy Story 3', 8.4)
('Toy Story', 8.3)
('Up', 8.3)
('Finding Nemo', 8.2)
('Monsters, Inc.', 8.1)
('The Incredibles', 8.0)
('Ratatouille', 8.0)
('Toy Story 2', 7.9)
('Monsters University', 7.4)
("A Bug's Life", 7.2)
('Cars 1', 7.2)
('Brave', 7.2)
('Cars 2', 6.4)

In [28]:
#- Покажіть всі фільми з їх рейтингами у спадному порядку

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Rating
          FROM Movies 
          INNER JOIN Boxoffice
          ON Movies.Id = Boxoffice.Movie_Id
          ORDER BY Rating DESC"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('WALL-E', 8.5)
('Toy Story 3', 8.4)
('Toy Story', 8.3)
('Up', 8.3)
('Finding Nemo', 8.2)
('Monsters, Inc.', 8.1)
('The Incredibles', 8.0)
('Ratatouille', 8.0)
('Toy Story 2', 7.9)
('Monsters University', 7.4)
("A Bug's Life", 7.2)
('Cars 1', 7.2)
('Brave', 7.2)
('Cars 2', 6.4)

In [30]:
#- Виведіть перелік людей та їх спеціальностей, які не прикріплені до будинків

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Name, Building_names, Role
          FROM Employees 
          INNER JOIN Buildings
          ON Employees.Building = Buildings.Building_names"""

cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('Becky A.', '1e', 'Engineer')
('Dan B.', '1e', 'Engineer')
('Sharon F.', '1e', 'Engineer')
('Dan M.', '1e', 'Engineer')
('Malcom S.', '1e', 'Engineer')
('Jakob J.', '2w', 'Artist')
('Lillia A.', '2w', 'Artist')
('Brandon J.', '2w', 'Artist')
('Daria O.', '2w', 'Manager')

In [31]:
# Виведіть всі назви фільмів та їх загальні збори в доларовому еквіваленті

conn = sqlite3.connect(r"C:\Users\admin\Desktop\Настя\sql lab.db")
cursor = conn.cursor()

sql = """ SELECT Title, Domestic_sales + International_sales
          FROM Movies 
          INNER JOIN Boxoffice
          ON Movies.Id = Boxoffice.Movie_id"""

cursor.execute(sql)

result = cursor.fetchall()  
for i in result:
    print(i)

conn.close()

('Toy Story', 361958736)
("A Bug's Life", 363398565)
('Toy Story 2', 485015179)
('Monsters, Inc.', 562816256)
('Finding Nemo', 936743261)
('The Incredibles', 631442092)
('Cars 1', 461983149)
('Ratatouille', 623722818)
('WALL-E', 521311860)
('Up', 731342744)
('Toy Story 3', 1063171911)
('Cars 2', 559852396)
('Brave', 538983207)
('Monsters University', 743559607)